In [7]:
# Sample Question print - sachin t - shirt number is 10
name = "sachin"
t_shirt = 10
# Your Answer

print(name,"t-shirt number is",t_shirt)

sachin t-shirt number is 10

In [2]:
# 1 . Question | print - India is number 1 team and has won 2012 worldcup and it rank 1 and the captain name is kholi
team = "india"
worldcup = 2012
captain = "kholi"
rank = 1


print(team,"is number",rank,"team and has won",worldcup,"worldcup and it rank",rank,"and the captain name is",captain)

india is number 1 team and has won 2012 worldcup and it rank 1 and the captain name is kholi

In [3]:
# 2 . Question |print the datatype of the x,y,z

x = 56
y = 56.78
z ='python'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
# 3 . Question | write a program to print 10.0 using typecasting

a = 10

# Your Answer
b=float(a)
print(b)

10.0

In [5]:
# 4 . Question | write a program to print 12 using typecasting

a = 12.56

# Your Answer
b=int(a)
print(b)

12

In [6]:
# 5 . write a program print 30 by using typecasting conncept

a = "10"
b = "20"

# Your Answer
a=int(a)
b=int(b)
print(a+b)

30